.monospace {
    font-family: monospace;
    font-size: 90%;
}

.timestamp {
    font-family: monospace;
    font-size: 90%;
    color: #222;
}

.chat-pane {
    overflow-y: auto;
    border: 1px solid #aaa;
}

.chat-pane > table {
    width: 100%;
}

.chat-pane td .timestamp {
    width: 12ch;
    vertical-align: top;
}

.chat-pane td .author {
    width: 12ch;
    vertical-align: top;
}

.chat-pane  td .message {
    border-left: 1px solid #aaa;
    padding-left: 10px;
    vertical-align: top;
}

.chat-pane td .message p {
    padding: 0;
    margin: 0;
}

.author-self {
    color: #D45554;
}

.author-system, .message-system {
    font-weight: bold;
}

#messages tr:hover {
    background-color: #eee;
}

#sidebar-container {
    overflow-y: auto;
}