.monospace {
    font-family: monospace;
    font-size: 90%;
}

.timestamp {
    font-family: monospace;
    font-size: 90%;
    color: #222;
}

#messages td.timestamp {
    width: 12ch;
    vertical-align: top;
}

#messages td.author {
    width: 12ch;
    vertical-align: top;
}

#messages td.message {
    border-left: 1px solid #aaa;
    padding-left: 10px;
    vertical-align: top;
}

#messages td.message p {
    padding: 0;
    margin: 0;
}

#messages tr.system td.message, #messages tr.system td.author {
    font-weight: bold;
}


#messages-table {
    width: 100%;
}

#messages tr:hover {
    background-color: #eee;
}

#messages {
    width: 100%;
}

#messages-container {
    overflow-y: auto;
    border: 1px solid #aaa;
}

#sidebar-container {
    overflow-y: auto;
    
}