.monospace {
    font-family: monospace;
    font-size: 90%;
}

.timestamp {
    font-family: monospace;
    color: #666;
}

.chat-pane {
    overflow-y: auto;
    border: 1px solid #aaa;
}

.chat-pane > table {
    width: 100%;
}

.chat-pane td {
    vertical-align: top;
}

.chat-pane td.timestamp {
    width: 12ch;
}

.chat-pane td.author {
    width: 12ch;
    overflow-x: hidden;
}

.chat-pane td.message {
    border-left: 1px solid #aaa;
    padding-left: 10px;
}

.chat-pane td.message p {
    padding: 0;
    margin: 0;
}

.chat-pane .alarm {
    margin: 0;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
}

td.message > h1, td.message > h2, td.message > h3, td.message > h4, td.message > h5, td.message > h6 {
    font-weight: bold;
    font-size: 100%;
    margin: 0;
    padding: 0;
}

.user-self {
    color: #D45554;
}

.user-system, .message-system {
    font-weight: bold;
}

.chat-pane tr:hover {
    background-color: #f2f2f2;
}

#sidebar-container {
    overflow-y: auto;
}